@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Lato:400italic);
	
header{
  background-color:#FFED74;
  border: 1px black solid;
  padding: 20px;
}  
body{
  font-family: 'lobster',cursive;
  text-align: center;
  background-image:linear-gradient(rgba(0, 15, 100, 0.5),rgba(0, 15, 100, 0.5)),
          url("http://www.livescience.com/images/i/000/031/960/original/tyrannosaurus-rex-color-121010a-02.jpg?1349895686");
  background-size: cover;
   color: #000000;
  font-family: Helvetica;
}

h2 {
  font-family:'lobster',cursive;
	width: 100%;
  text-align:center;
}

p {
  font-family: 'Cabin', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-size: 2rem;
  
}

.center{
	font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: white;
  transform: translateY( -50%);
  position: absolute;
  top: 50%;
    max-width: 600px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#catchphrase{
  font-family:'Lato',sans-serif;
}

#madeby{
  font-family:'Lato',sans-serif;
}